# dependencies
node_modules
package-lock.json

# DuckDB lock/wal & test files
duckdb/zet.duckdb
*.wal
*.tmp
*.tmp_*.parquet
duckdb/test_validate_*

# output & logs
out
dist
*.tgz
logs
*.log

# GTFS static feed downloads & extracted files
duckdb/gtfs_zet*
duckdb/*.zip

# caches & env
.env
.env.*
.cache
*.tsbuildinfo
.DS_Store
.idea
.vscode
