# dependencies
node_modules
package-lock.json

# DuckDB lock/wal & test files
*.wal
*.tmp
*.tmp_*.parquet
duckdb/test_validate_*

# output & logs
out
dist
*.tgz
logs
*.log

# caches & env
.env
.env.*
.cache
*.tsbuildinfo
.DS_Store
.idea
.vscode
